<!--CONTENT-->
<div class="wrapper three-cols">
  <!--SIDEBAR-->
  <div class="card side-bar scrollable">
    <div class="title">Search</div>
    <div class="content">
      <form #formSearch="ngForm" (submit)="searchHotels(formSearch.value.text)" >
        <!-- [ngModel]="proprietàText" name="stringaText" -->
        <input type="text" placeholder="City (Rome or Milan)" [ngModel]="text" name="text">
        <button type="submit">SEARCH</button>
      </form>

      <!-- <pre>{{ hotels | json }}</pre> -->

      <div class="separator"></div>
      <div class="font-big">Hotel in {{text}}</div>

      <div class="horiz-grid separator"
            *ngFor="let hotel of hotels">
        <div>{{hotel.name}}</div>
        <div>{{hotel.rooms[0].price}}</div>
      </div>

      <div class="separator"></div>
      <div class="horiz-grid">
        <div></div>
        <em>{{hotels?.length}} results</em>
      </div>

    </div>
  </div>

  <!--MAP-->
  <div class="card map">
    <div>
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=Milano&zoom=15&size=700x200&key=AIzaSyBAyMH-A99yD5fHQPz7uzqk8glNJYGEqus"
            width="100%" height="200">
      <div class="address">
        <div class="font-big">Hotel Rockstar</div>
        <div class="font-small">Milano, Via Marconi 123</div>
      </div>
    </div>
</div>

<!--INFO BOX-->
<div class="card">
    <div class="content center">
      <!--<img src="https://picsum.photos/400/200/?image=12" width="100%" height="200">-->

      <div class="separator"></div>
      <div class="font-superbig">
        4.1
        <i class="ion-ios-person"></i>
      </div>
      <div>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star-outline"></i>
      </div>

      <br>

      <div class="horiz-grid separator">
        <div>Single</div>
        <div>
          € 89
          <i class="ion-ios-cart"></i>
        </div>
      </div>

      <div class="horiz-grid separator">
        <div>Double</div>
        <div>
          € 99
          <i class="ion-ios-cart"></i>
        </div>
      </div>

      <div class="horiz-grid separator">
        <div>Triple</div>
        <div>
          € 115
          <i class="ion-ios-cart"></i>
        </div>
      </div>
    </div>

  </div>

<!-- IMAGE GALLERY -->
<div class="card gallery scrollable">
  <img src="https://picsum.photos/400/200/?image=13" width="100%" height="150" alt="">
  <div class="nested">
    <div><img src="https://picsum.photos/300/200/?image=22" width="100%"></div>
    <div><img src="https://picsum.photos/300/200/?image=23" width="100%"></div>
    <div><img src="https://picsum.photos/300/200/?image=24" width="100%"></div>
    <div><img src="https://picsum.photos/300/200/?image=25" width="100%"></div>
    <div><img src="https://picsum.photos/300/200/?image=26" width="100%"></div>
    <div><img src="https://picsum.photos/300/200/?image=27" width="100%"></div>

  </div>
</div>

<!--SERVICES-->
<div class="card services scrollable">
    <div class="title">Services</div>
    <div class="nested">
      <div><i class="icon ion-ios-airplane" title="airplane"></i></div>
      <div><i class="icon ion-ios-alarm" title="alarm"></i></div>
      <div><i class="icon ion-ios-beer" title="beer"></i></div>
      <div><i class="icon ion-ios-car" title="car"></i></div>
      <div><i class="icon ion-ios-heart-empty" title="heart"></i></div>
      <div><i class="icon ion-ios-train" title="train"></i></div>
      <div><i class="icon ion-ios-restaurant" title="restaurant"></i></div>
      <div><i class="icon ion-ios-paw" title="paw"></i></div>
      <div><i class="icon ion-ios-easel" title="easel"></i></div>
      <div><i class="icon ion-ios-cafe" title="cafe"></i></div>
      <div><i class="icon ion-ios-briefcase" title="briefcase"></i></div>
      <div><i class="icon ion-ios-bed" title="bed"></i></div>
      <div><i class="icon ion-ios-bycycle" title="bycycle"></i></div>
    </div>
</div>

<!--CONTACT FORM-->
<div class="card contact">
  <div class="title">Contacts</div>
  <div class="content">
    <form>
      <input type="text" placeholder="Your mail" required>
      <textarea cols="20" rows="6" placeholder="Your message" required></textarea>
      <button type="submit">SEND</button>
    </form>
  </div>
</div>


</div>  <!-- chiudi wrapper three-cols-->
