/*INPUT*/
input[type=text],
input[type=password],
textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

input[type=text].error,
input[type=password].error,
textarea.error, select.error  {
  background-color: lightcoral;
  color: white;
}

button[type=submit] {
  width: 100%;
  background-color: #00AE76;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
}

input[type=submit]:hover {
  background-color: #45a049;
}


